body{
    background-color: orange;
    text-align: center;
    font-family:cursive ;
}

h1{
    color:purple;
}

button{
    font-size: 2em;
    color: green ;
    background-color:lightyellow;
    font-family: cursive;
}

button:focus {
    background-color: yellow;
}

div{
    text-align: left;
}