body{
    background-color: orange;
    text-align: center;
}

h1{
    color: purple;
}

button{
    font-size: 2em;
    color: blue ;
    background-color:lightyellow;
}

button:focus {
    background-color: yellow;
}