button {
    margin-left : 1%;
    margin-right : 1%;
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding : 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 98%;
    border-radius: 4px;
    font-family:inherit ;
    font-size: inherit;
}
video {
    margin: 1%;
    width: 98%;
    position: static;
}
p {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

h1 {
    text-align: center;
}

body{
    font-family:cursive ;
    /* font-size: 3em   ; */
}

div.enclosingBox {
    background-color: lightcyan;
}

a{
    text-decoration: none;
}

div.bottom {
    position: fixed;
    bottom: 1%;
    width: 98%;
}

div.top {
    position: sticky; 
    top: 1%;
    /* width: 98%; I removed this because it would leave a non-full white bar in the breakdown screen. It does not seem to affect the selection screen*/
    background-color: white;
    z-index: 1; /* to give priority to the return navigation over the video */
}

#breakdown {
    margin: 0%;
}

#return-button {
    text-align: left;
}

img {
    border: 2px solid black;
    border-radius: 4px;
    width: 90%;
}

div.song-selection-left {
    margin-left: 10%;
    margin-top: 5%;
    width: 30%;
    display: inline-block;
}

div.song-selection-right {
    margin-left: 20%;
    margin-top: 5%;
    width: 30%;
    display: inline-block;
}

#song-text {
    text-align: left;
    margin: 0%;
}


.settings-button{

  background-color: rgb(57, 148, 190);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  /*cursor: pointer;*/
}

.account{
    text-align: center;
}

#accountIcon{
    display: inline-block;
}

input, select {
    font-size: inherit;
    font-family: inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 100px;
    margin: 5px;
}

@media (max-device-width: 420px){
    body{
        font-size: 2em;
    }

}